<div id="view">
    <section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">Zásady používania súborov <span> Cookie</span></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-7 col-sm-8">
                    <div class="container clearfix">
                        <div class="rich-text rich-center">
                            <p><span>Cookie je krátky textový súbor, ktorý do prehliadača odosielajú navštívené webové
                                    stránky. Webovým stránkam umožňuje zapamätať si informácie o vašej návšteve,
                                    napríklad preferovaný jazyk a ďalšie nastavenia.</span></p>
                            <p><span>Cookie používame za účelom zlepšenia našich služieb, pre správne fungovanie našich
                                    stránok a pre štatistické alebo reklamné účely.</span></p>
                            <h4 class="pt-4 pb-2">Na aké reklamné účely budeme využívať cookies?<br></h4>
                            <p style="text-align: justify;"><span>Môže ísť o personalizovanú reklamu alebo vytváranie
                                    podobných zoznamov používateľov a distribúciu cieleného reklamného obsahu na zvolené
                                    publikum. Za distribúciu reklamného obsahu na publikum užívateľov je zodpovedný
                                    sprostredkovateľ. alebo iná spoločnosť, ktorá uzatvorila zmluvu o spolupráci so
                                    spoločnosťou a zaviazala sa dodržiavať princípy nariadenia o ochrane osobných
                                    údajov.</span></p>
                            <p style="text-align: justify;"><span>Sprístupnenie relevantného reklamného obsahu
                                    spoločnosti zabezpečia prostredníctvom online služieb tretích strán Google Inc,
                                    MailChimp, Facebook, Inc:</span></p>
                            <ul class="pl-4">
                                <li><span>Google Adwords</span></li>
                                <li><span>Google Analytics</span></li>
                                <li><span>Google Tag Manager</span></li>
                                <li><span>Google Search Console</span></li>
                                <li><span>Facebook Ads Manager</span></li>
                                <li><span>MailChimp</span></li>
                            </ul>
                            <h4 class="pt-4 pb-2">Ako používame súbory cookie?</h4>
                            <ul>
                                <li><span>Podľa súborov cookie dokážeme prispôsobiť webový obsah a zoptimalizovať
                                        využitie webových stránok. Vďaka nim dokážeme rozpoznať zariadenie, ktoré na
                                        prehliadanie využívate a prispôsobiť ich zobrazenie vašim preferenciám.</span>
                                </li>
                                <li><span>Súbory cookie nám pomáhajú rozpoznať správanie používateľov našich stránok, čo
                                        nám umožňuje zlepšovanie služieb, štruktúry a obsahu podľa ich preferencií. Na
                                        základe súborov cookie nie je možná osobná identifikácia.</span></li>
                                <li><span>Tieto súbory používame na zapamätanie si používateľských nastavení a pre
                                        nevyhnutnú funkcionalitu webstránok.</span></li>
                            </ul>
                            <h4 class="pt-4 pb-2">Aké typy cookies používame:</h4>
                            <p style="text-align: justify;"><span><strong>Dočasné cookies</strong>&nbsp;- sa ukladajú na
                                    koncovom zariadení používateľa až pokiaľ neopustí stránky nepritomnost.sk</span></p>
                            <p style="text-align: justify;"><span><strong>Trvalé cookies</strong>&nbsp;– ostávajú
                                    uložené na koncovom zariadení používateľa aj po opustení našich webstránok. Pomocou
                                    nich dokážeme identifikovať vracajúceho sa návštevníka a zachovať jeho nastavenia a
                                    preferencie. Tieto súbory nám neumožňujú identifikovať konkrétnu osobu.</span></p>
                            <p style="text-align: justify;"><span><strong>Základné cookies</strong>&nbsp;– umožňujú
                                    správne fungovanie webstránok nepritomnost.sk. Vďaka nim napríklad ostávajú vami
                                    vyplnené polia, vyplnené aj pri opätovnej návšteve webstránok.</span></p>
                            <p style="text-align: justify;"><span><strong>Bezpečnostné cookies</strong>&nbsp;– na
                                    zaistenie bezpečnosti a odhalenie podvodov</span></p>
                            <p style="text-align: justify;"><span><strong>Prevádzkové cookies</strong>&nbsp;– umožňujú
                                    zbierať štatistické informácie o používaní našich webstránok. Slúžia na ich analýzu
                                    a zlepšovanie v oblasti obsahu, výkonu a dizajnu.</span></p>
                            <p style="text-align: justify;"><span><strong>Funkčné cookies</strong>&nbsp;– umožňujú
                                    pamätať si preferencie, ktoré boli vami nastavené v oblasti užívateľského
                                    rozhrania</span></p>
                            <p style="text-align: justify;"><span><strong>Reklamné cookies</strong>&nbsp;- umožňujú
                                    poskytovať obsah, relevantný pre vás a vaše záujmy. Vďaka nim je možné pri cielenej
                                    reklame zobraziť či obmedziť počet zobrazení reklamy podľa používateľa.</span></p>
                            <h4 class="pt-4 pb-2">Súbory cookies tretích strán</h4>
                            <p style="text-align: justify;"><span>Anonymné cookies Google Analytics, poskytované
                                    spoločnosťou Google Inc. umožňujú monitoring používania a analýzu webových stránok.
                                    Informácie generované týmito cookies sa prenášajú do spoločnosti Google, ktorá ich
                                    využíva na analýzu webstránok a pre poskytnutie ďalších služieb súvisiacich s
                                    činnosťou webových stránok a internetu. Cookies využívané cez službu Google
                                    Analytics budú uchovávané najviac do 50 mesiacov od ich zberu.</span></p>
                            <p style="text-align: justify;"><span>V prípade zobrazenia obsahu webových stránok tretej
                                    strany, napr. YouTube, Facebook, Twitter atď. sú prijaté súbory cookie týchto
                                    služieb, ktoré nepodliehajú našej kontrole. O ich používaní sa môžete informovať na
                                    konkrétnych stránkach služieb tretích strán.</span></p>
                            <h4 class="pt-4 pb-2">Ako kontrolovať alebo zakázať ukladanie cookies do vášho zariadenia?
                            </h4>
                            <p style="text-align: justify;"><span>Váš webový prehliadač môžete nastaviť tak, aby
                                    ukladanie cookies do vášho zariadenia zakázal či blokoval, vrátane cookies tretích
                                    strán. Je tiež možné zablokovať alebo povoliť ukladanie cookies len pre určité
                                    webové stránky.</span></p>
                            <p style="text-align: justify;"><span>Cookies, ktoré už sú vo vašom zariadení uložené, potom
                                    môžete kedykoľvek zmazať. Vaše rozhodnutie budeme rešpektovať. Chceli by sme vás
                                    však upozorniť, že ak ukladanie cookies zasielané stránkami nepritomnost.sk úplne
                                    zakážete, nebudú stránky pracovať správne a môže byť obmedzená ich funkčnosť.</span>
                            </p>
                            <p style="text-align: justify;"><span>Konkrétny postup pre najpoužívanejšie webové
                                    prehliadače nájdete tu:</span></p>
                            <ul>
                                <li><a href="https://support.google.com/accounts/answer/61416?hl=sk"
                                        target="_blank">Chrome</a></li>
                                <li><a href="https://support.apple.com/kb/ph21411?locale=sk_SK"
                                        target="_blank">Safari</a></li>
                                <li><a href="https://support.mozilla.org/sk/kb/povolenie-zakazanie-cookies"
                                        target="_blank">Firefox</a></li>
                                <li><a href="https://support.microsoft.com/sk-sk/help/17442/windows-internet-explorer-delete-manage-cookies"
                                        target="_blank">Internet Explorer</a></li>
                                <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&amp;hl=sk"
                                        target="_blank">Android</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>