<div id="view">
    <section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">Ochrana osobných údajov</h3>
                    </div> 
                </div>
            </div> 
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-7 col-sm-8">
                    <div class="container clearfix">
                        <div class="rich-text rich-center">
                            <p class="pb-3">Dňa 27. apríla 2016 bolo v Úradnom vestníku Európskej únie vyhlásené
                                Nariadenie Európskeho parlamentu a Rady (EÚ) č. 2016/679 z 27. apríla 2016 o ochrane
                                fyzických osôb pri spracovaní osobných údajov a voľnom pohybe týchto údajov a o zrušení
                                smernice 95/46/ES (všeobecné nariadenie o ochrane osobných údajov) (ďalej ako „GDPR“),
                                ktoré sa počnúc dňom 25. mája 2018 začalo uplatňovať vo všetkých členských štátoch
                                Európskej únie a Európskeho hospodárskeho priestoru.</p>
                            <p class="pb-3">Nariadenie je legislatívny akt Európskej únie, ktorý má všeobecnú platnosť,
                                je záväzný vo svojej celistvosti a je priamo uplatniteľný vo všetkých členských štátoch
                                bez potreby jeho implementácie do vnútroštátneho právneho poriadku členského štátu.</p>
                            <p class="pb-3">Slovenská republika prostredníctvom Úradu na ochranu osobných údajov prijala
                                pod č. 18/2018 Z.z. nový zákon na ochranu osobných údajov (ďalej ako „Zákon“), ktorý
                                pôvodný zákon č. 122/2013 Z.z. zrušuje a v celom rozsahu nahrádza.</p>
                            <p class="pb-3">Počnúc 25. májom 2018 sa teda na území Slovenskej republiky vo vzťahu k
                                spracúvaniu a ochrane osobných údajov uplatňuje ako GDPR, tak aj Zákon (ďalej ako „nová
                                právna úprava“), z ktorých osobám spracúvajúcim osobné údaje vyplývajú konkrétne
                                povinnosti a zodpovednosti jednak pri spracúvaní, tak aj samotnej ochrane osobných
                                údajov.</p>
                            <p class="pb-3">Na základe čl. 4 bod 7 GDPR platí,
                                že&nbsp;<strong>prevádzkovateľom</strong>&nbsp;je:&nbsp;<em>„fyzická alebo právnická
                                    osoba, orgán verejnej moci, agentúra alebo iný subjekt, ktorý sám alebo spoločne s
                                    inými určí účely a prostriedky spracúvania osobných údajov; v prípade, že sa účely a
                                    prostriedky tohto spracúvania stanovujú v práve Únie alebo v práve členského štátu,
                                    možno prevádzkovateľa alebo konkrétne kritériá na jeho určenie určiť v práve Únie
                                    alebo v práve členského štátu“</em>.</p>
                            <p class="pb-3">Na základe čl. 4 bod 8 GDPR platí,
                                že&nbsp;<strong>sprostredkovateľom</strong>&nbsp;je:&nbsp;<em>„fyzická alebo právnická
                                    osoba, orgán verejnej moci, agentúra alebo iný subjekt, ktorý spracúva osobné údaje
                                    v mene prevádzkovateľa“</em>.</p>
                            <p class="pb-3">Na základe uvedeného teda platí, že Vaša spoločnosť má v súvislosti s
                                používaním programu (ďalej ako systém Nepritomnost) v zmysle GDPR právne postavenie
                                prevádzkovateľa a naša spoločnosť má právne postavenie sprostredkovateľa, nakoľko v
                                súvislosti s poskytovaním služieb Vašej spoločnosti dochádza k spracúvaniu osobných
                                údajov našou spoločnosťou vo Vašom mene.</p>
                            <p class="pb-3">Vo všeobecnosti platí, že prevádzkovateľ a sprostredkovateľ (povinné osoby v
                                zmysle GDPR a Zákona) sú povinné prijať primerané technické a organizačné opatrenia s
                                cieľom zaistiť primeranú ochranu osobných údajov.</p>
                            <p class="pb-3">Vzhľadom k skutočnosti, že všetky údaje v rámci systému Nepritomnost sú
                                uchovávané u nás, vyžaduje sa, aby boli osobné údaje primerane chránené a spracúvané v
                                súlade s novou právnou úpravou ochrany osobných údajov. V zmysle
                                uvedeného&nbsp;<strong>je</strong>&nbsp;preto&nbsp;<strong>poskytovateľovi a
                                    používateľovi systému Nepritomnost okrem iného daná povinnosť uzavrieť zmluvu podľa
                                    čl. 28 ods. 3 GDPR</strong>, a to najneskôr pred prvým spracovaním (spracovateľskou
                                operáciou) s osobnými údajmi používateľa v systéme Nepritomnost. Používateľ systému
                                Nepritomnost má právne postavenie prevádzkovateľa, zatiaľ čo naša spoločnosť
                                (poskytovateľ) právne postavenie sprostredkovateľa.</p>
                            <p class="pb-3">Nie je však vylúčené, aby aj Vaše právne postavenie ako užívateľa systému
                                Nepritomnost bolo odlišné od právneho postavenia prevádzkovateľa. Takáto situácia môže
                                nastať najmä v prípade, pokiaľ ako užívateľ spracúvate osobné údaje iného
                                prevádzkovateľa. V takomto prípade ste ako užívateľ v zmysle GDPR povinný mať s
                                poskytovateľom uzavretú zmluvu podľa čl. 28 ods. 4 GDPR, prostredníctvom ktorej sa nám
                                ako poskytovateľovi v právnom postavení ďalšieho sprostredkovateľa v rade uložia rovnaké
                                povinnosti ochrany údajov, ako sa stanovujú v zmluve uzatvorenej medzi prevádzkovateľom
                                a Vami ako užívateľom v právnom postavení sprostredkovateľa.</p>
                            <p class="pb-3">Pre viac informácií o ochrane osobných údajov nás neváhajte kontaktovať na
                                adrese <a href="mailto:info@nepritomnost.sk">info@nepritomnost.sk</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>
</div>