<div id="view">
    <section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h4 class="title">Všeobecné obchodné podmienky</h4>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-7 col-sm-8">

                    <p>Všeobecné obchodné podmienky upravujú zmluvný vzťah medzi poskytovateľom a užívateľom a podmienky
                        využívania systému Nepritomnost alebo jeho vybraných služieb (ďalej ako „VOP“).</p>

                    <h4><br></h4>
                    <h4>1.ČASŤ&nbsp;</h4>
                    <h4>ÚVODNÉ&nbsp;USTANOVENIA, POJMY</h4>
                    <p></p>
                    <br>
                    <h4>Článok 1&nbsp;</h4>
                    <h4><strong>Úvodné ustanovenia</strong></h4>
                    <p></p>
                    <p><strong>1.1.</strong></p>
                    <p>Tieto VOP podrobne upravujú rámec právneho vzťahu medzi poskytovateľom a užívateľom.<br></p>

                    <h4><br></h4>
                    <h4>Článok 2&nbsp;</h4>
                    <h4><strong>Vymedzenie pojmov</strong></h4>
                    <p></p>
                    <p><strong>2.1.&nbsp;</strong></p>
                    <p><strong>Poskytovateľ</strong>&nbsp;je spoločnosť Mgr. Ľubomíra Mešťanová - FORMIČKA, IČO:
                        52979245, DIČ: 1125868271, Zapísaná v živnostenskom registri: 580-67670, č. účtu:
                        SK8283605207004207102774, mbank, email: info@nepritomnost.sk, portál: www.nepritomnost.sk.
                        Poskytovateľ je oprávnený poskytovať užívateľom službu prístupu k vybranej službe systému
                        Nepritomnost prostredníctvom siete internet.</p>
                    <p><strong>2.2.&nbsp;</strong></p>
                    <p><strong>Užívateľ</strong>&nbsp;je každá fyzická alebo právnická osoba, ktorému poskytovateľ za
                        dodané služby vystavuje faktúru podľa článku 5 týchto VOP a ktorá nie je treťou osobou.
                        Využívanie služieb treťou osobou a akékoľvek konanie tretej osoby sa považuje za využívanie
                        služieb užívateľom a konanie užívateľa, akoby tieto služby využíval užívateľ sám alebo akoby
                        toto konanie uskutočňoval užívateľ sám.</p>
                    <p><strong>2.3.&nbsp;</strong></p>
                    <p><strong>Tretia osoba</strong>&nbsp;je akákoľvek osoba, ktorá je na základe pracovnoprávneho alebo
                        iného obdobného vzťahu k užívateľovi oprávnená v mene užívateľa služby systému Nepritomnost
                        využívať alebo ktorá má prostredníctvom užívateľa prístup k službám systému Nepritomnost, alebo
                        ktorej užívateľ akýmkoľvek spôsobom umožnil využívanie služieb systému Nepritomnost (napr.
                        zamestnanec, štatutárny orgán, tretia strana zabezpečujúca pre užívateľa využívanie služieb
                        systému Nepritomnost a i.)</p>
                    <p><strong>2.4.&nbsp;</strong></p>
                    <p><strong>Prevádzkovateľ</strong>&nbsp;v zmysle čl. 4 ods. 7 Nariadenia EP a Rady (EÚ) č. 2016/679
                        (ďalej ako „GDPR“) je akákoľvek osoba, ktorá sama alebo spoločne s inými osobami určí účely a
                        prostriedky spracúvania osobných údajov. Prevádzkovateľom sa na účely týchto VOP rozumie
                        užívateľ.</p>
                    <p><strong>2.5.</strong>&nbsp;</p>
                    <p><strong>Sprostredkovateľ</strong>&nbsp;v zmysle čl. 4 ods. 8 GDPR je akákoľvek osoba, ktorá
                        spracúva osobné údaje v mene prevádzkovateľa. Sprostredkovateľom sa na účely týchto VOP rozumie
                        poskytovateľ.</p>
                    <p><strong>2.6.&nbsp;</strong></p>
                    <p><strong>Osobné údaje</strong>&nbsp;v zmysle čl. 4 ods. 1 GDPR sú akékoľvek informácie týkajúce sa
                        identifikovanej alebo identifikovateľnej fyzickej osoby. Osobnými údajmi sa na účely týchto VOP
                        rozumejú osobné údaje spĺňajúce kritériá podľa predchádzajúcej vety, ktoré užívateľ alebo tretia
                        osoba poskytli poskytovateľovi.</p>
                    <p><strong>2.7.&nbsp;</strong></p>
                    <p><strong>Dáta</strong>&nbsp;sú akékoľvek údaje vrátane osobných údajov poskytnutých
                        poskytovateľovi užívateľom alebo treťou osobou pri využívaní služby systému Nepritomnost v rámci
                        systému Nepritomnost.</p>
                    <p><strong>2.8.&nbsp;</strong></p>
                    <p><strong>Nepritomnost</strong>&nbsp;alebo systém Nepritomnost, alebo databáza Nepritomnost, alebo
                        portál Nepritomnost poskytuje najmä funkcionality umožňujúce správu neprítomností, funkcionality
                        sú prístupné prostredníctvom siete internet.</p>
                    <p><strong>2.9.&nbsp;</strong></p>
                    <p><strong>Služby</strong>&nbsp;sú konkrétne užívateľom alebo treťou osobou využité služby systému
                        Nepritomnost spomedzi služieb špecifikovaných na portáli app.nepritomnost.sk.</p>
                    <p><strong>2.10.</strong>&nbsp;</p>
                    <p><strong>Cenník</strong>&nbsp;dokument zverejnený na stránke&nbsp;www.nepritomnost.sk, ktorého
                        obsah vrátane príslušných tam uvedených pojmov sa vzťahuje aj na tieto VOP.</p>
                    <p><strong>2.11.&nbsp;</strong></p>
                    <p><strong>Odplata</strong>&nbsp;je cena uhrádzaná užívateľom poskytovateľovi za využité služby v súlade s Cenníkom.</p>
                    <p><strong>2.12.&nbsp;</strong></p>
                    <p><strong>Ochrana osobných údajov</strong>&nbsp;spracúvanie a ochrana osobných údajov zadaných do
                        systému Nepritomnost užívateľom alebo treťou osobou je vymedzená v spracúvaní osobných údajov.</p>
                    <p><strong>2.13.&nbsp;</strong></p>
                    <p><strong>Ukončenie využívania služby</strong>&nbsp;je okrem prípadov predpokladaných týmito VOP aj
                        uplynutie viac ako 12 mesiacov od posledného prihlásenia užívateľa alebo tretej osoby do
                        užívateľského profilu užívateľa.</p>
                    <p><strong>2.14.&nbsp;</strong></p>
                    <p><strong>Zmluvné strany</strong>&nbsp;spolu poskytovateľ a užívateľ alebo v príslušnom prípade
                        zástupca užívateľa alebo tretia osoba podľa bodu 2.3 týchto VOP.<br></p>
                    <p><em></em></p>



                    <br>
                    <h4>2. ČASŤ&nbsp;</h4>
                    <h4>PREDMET ZMLUVY, POSTUP A PODMIENKY POSKYTOVANIA SLUŽIEB, ODPLATA</h4>
                    <h4><br></h4>
                    <h4><em>Článok 3</em>&nbsp;</h4>
                    <h4><strong>Predmet zmluvy</strong></h4>
                    <p><strong>3.1.</strong></p>
                    <p>Predmetom zmluvy je záväzok poskytovateľa poskytovať užívateľovi prostredníctvom siete internet a
                        v rozsahu užívateľom vybraných služieb, ktoré sú presne uvedené a špecifikované na portáli
                        Nepritomnost, služby využitia systému Nepritomnost a záväzok užívateľa platiť za služby
                        poskytovateľovi príslušnú odplatu.</p>
                    <h4><br></h4>
                    <h4><em>Článok 4</em>&nbsp;</h4>
                    <h4><strong>Postup a podmienky poskytovania služby a odplata</strong></h4>
                    <p><strong>4.1.</strong></p>
                    <p>Užívateľ je povinný zaregistrovať sa na portáli app.nepritomnost.sk a pri registrácii uviesť
                        úplné a správne registračné údaje vyžadované pri registrácii. Za úplnosť a správnosť užívateľom
                        alebo treťou osobou poskytnutých registračných údajov zodpovedá užívateľ. Ak poskytovateľ na
                        základe užívateľom alebo treťou osobou poskytnutých údajov nie je schopný overiť úplnosť a
                        správnosť poskytnutých registračných údajov užívateľa, je až do momentu ich overenia oprávnený
                        dočasne blokovať využívanie služieb užívateľom. Ak nedôjde k úspešnému overeniu úplnosti alebo
                        správnosti registračných údajov užívateľa ani v lehote do 6 mesiacov odo dňa vykonania
                        registrácie užívateľa, poskytovateľ je oprávnený zrušiť profil užívateľa vrátane databáz
                        založených užívateľom, a to aj v prípade, že sú tieto databázy sprístupnené aj iným užívateľom.
                        Deň zrušenia profilu užívateľa vrátane databáz založených užívateľom podľa predchádzajúcej vety
                        sa považuje za deň ukončenia zmluvy podľa bodu 11.1.5 týchto VOP. Ak poskytovateľ dodatočne
                        zistí nesprávnosť alebo neúplnosť registračných údajov užívateľa, je oprávnený tieto údaje
                        opraviť a informovať o tom užívateľa emailom, pod ktorým je užívateľ na portáli Nepritomnost
                        registrovaný. Až do momentu autorizácie zmenených údajov užívateľom je užívateľ blokovaný a
                        nemôže využívať služby. V prípade, ak poskytovateľ nevie registračné údaje užívateľa opraviť, má
                        právo jednostranne zmluvu vypovedať v súlade s bodom 11.3 týchto VOP, pričom výpovedná lehota je
                        24 hodín.</p>
                    <h4><br></h4>
                    <h4><em>Článok 5</em>&nbsp;</h4>
                    <h4><strong>Odplata</strong></h4>
                    <p><strong>5.1.</strong></p>
                    <p>Odplatu za využívanie služieb realizuje užívateľ na základe faktúry, ktorú mu poskytovateľ
                        zasiela elektronickou formou podľa bodu 5.2 týchto VOP. Pokiaľ nebude úhrada zo strany užívateľa
                        realizovaná v lehote splatnosti, vyhradzuje si poskytovateľ právo na zablokovanie prístupu
                        užívateľa k využívaniu služby. Poskytovateľ môže zablokovať tiež prístup k databázam založeným
                        užívateľom, a to aj v prípade, že sú tieto databázy sprístupnené iným užívateľom. Právo na
                        zablokovanie prístupu podľa predchádzajúcej vety môže poskytovateľ využiť aj vo vzťahu k tým
                        užívateľom, ktorí majú v profile užívateľa uvedené rovnaké identifikačné číslo organizácie (IČO)
                        alebo rovnakú emailovú adresu pre zasielanie elektronických faktúr, ako užívateľ s povinnosťou
                        úhrady odplaty po lehote splatnosti.</p>
                    <p><strong>5.2.</strong></p>
                    <p>Užívateľ týmto v zmysle zákona č. 222/2004 Z. z. o dani z pridanej hodnoty v platnom znení
                        udeľuje poskytovateľovi súhlas na to, aby mu za dodané služby vystavoval faktúru v elektronickej
                        forme vo formáte pdf. (ďalej ako „elektronická faktúra“). Elektronická faktúra sa v zmysle
                        zákona č. 222/2004 Z.z. o dani z pridanej hodnoty považuje za daňový doklad. Poskytovateľ sa
                        zaväzuje elektronickú faktúru doručovať užívateľovi prostredníctvom elektronickej pošty, a to na
                        emailovú adresu užívateľa uvedenú v profile užívateľa pre zasielanie elektronických faktúr.
                        Užívateľ je povinný bezodkladne informovať poskytovateľa o akýchkoľvek zmenách, ktoré by mohli
                        mať vplyv na doručovanie elektronických faktúr podľa týchto VOP, najmä o zmene emailovej adresy
                        a zároveň bezodkladne tieto zmeny aktualizovať vo svojom profile na portáli Nepritomnost.
                        Poskytovateľ nezodpovedá za škody vzniknuté v dôsledku úniku údajov poruchou na komunikačnej
                        trase pri doručovaní elektronickej faktúry prostredníctvom siete internet. Poskytovateľ
                        nezodpovedá za škody vzniknuté z dôvodu nedostatočného pripojenia užívateľa do siete internet, z
                        dôvodu porúch vzniknutých na komunikačnej trase k užívateľovi alebo v dôsledku akejkoľvek inej
                        nemožnosti užívateľa nadviazať príslušné spojenie alebo prístup k sieti internet.</p>
                    <p><strong>5.3.</strong></p>
                    <p>Vystavenie faktúry realizuje poskytovateľ vždy k poslednému dňu mesiaca, v ktorom boli využité
                        služby užívateľom. </p>
                    <p><strong>5.4.</strong></p>
                    <p>Využitie služieb začína dňom, kedy užívateľ vykonal výber príslušnej služby prostredníctvom
                        portálu Nepritomnost.</p>
                    <p><strong>5.5.</strong></p>
                    <p>Odplata nezahŕňa poplatok za internetové pripojenie na strane užívateľa, ktoré si je užívateľ
                        povinný zabezpečiť na svoje náklady.<br></p>
                    <p><em></em></p>

                    <h4><br></h4>
                    <h4>3. ČASŤ<br></h4>
                    <h4>PRÁVA A POVINNOSTI UŽÍVATEĽA A POSKYTOVATEĽA</h4>
                    <h4><br></h4>
                    <h4><em>Článok 6</em><br></h4>
                    <h4><strong>Práva a povinnosti užívateľa</strong></h4>
                    <p><strong>6.1.</strong></p>
                    <p>Užívateľ je oprávnený využívať služby v rozsahu uvedenom na portáli Nepritomnost a po splnení
                        podmienok uvedených v článku 4 týchto VOP.</p>
                    <p><strong>6.2.</strong></p>
                    <p>Užívateľ je povinný:</p>
                    <p><em>6.2.1.&nbsp;</em></p>
                    <p>využívať služby v dohodnutom rozsahu, v súlade so všeobecne záväznými právnymi predpismi, týmito
                        VOP, pokynmi a podmienkami uvedenými v návodoch na obsluhu; užívateľ zodpovedá za správnosť dát
                        zadávaných ním do systému Nepritomnost;</p>
                    <p><em>6.2.2.&nbsp;</em></p>
                    <p>odo dňa účinnosti poskytovať poskytovateľovi podľa jeho požiadaviek všetku súčinnosť podľa bodu
                        6.5 týchto VOP;</p>
                    <p><em>6.2.3.</em>&nbsp;</p>
                    <p>písomne oznámiť poskytovateľovi akúkoľvek zmenu v údajoch poskytnutých poskytovateľovi pri
                        uzavretí zmluvy, a to najmä oznámiť zmenu bydliska (sídla), obchodného mena, fakturačnej adresy
                        a osôb oprávnených konať v mene užívateľa vrátane vykonania zmeny na portáli Nepritomnost, a to
                        najneskôr do piatich dní odo dňa vzniku zmeny;</p>
                    <p><em>6.2.4.</em>&nbsp;</p>
                    <p>platiť Poskytovateľovi všetky svoje peňažné záväzky (napr. odplatu) riadne a včas, v dohodnutej
                        výške a v súlade s týmito VOP; povinnosť úhrady peňažného záväzku užívateľa je splnená dňom
                        pripísania dohodnutej príslušnej peňažnej sumy záväzku na účet poskytovateľa;</p>
                    <p><em>6.2.5.&nbsp;</em></p>
                    <p>vykonať všetky potrebné opatrenia k tomu, aby nebolo žiadnym spôsobom umožnené využitie/zneužitie
                        služby tretími osobami alebo inými osobami (napr. opatrenia proti úniku prístupových hesiel
                        užívateľa k využívaniu služieb a i.).</p>
                    <p><strong>6.3.</strong></p>
                    <p>Užívateľ zodpovedá za konanie tretej osoby v celom rozsahu, akoby toto konanie uskutočňoval sám.
                    </p>
                    <p><strong>6.4.</strong></p>
                    <p>Užívateľ nie je oprávnený zasahovať do systému Nepritomnost iným spôsobom ako funkciami v ňom
                        obsiahnutými, nie je oprávnený systém meniť alebo upravovať. Tento bod nijakým spôsobom
                        nerozširuje oprávnenia užívateľa, ako sú vymedzené v týchto VOP.</p>
                    <p><strong>6.5.</strong></p>
                    <p>Užívateľ je povinný počas trvania služby poskytovať poskytovateľovi súčinnosť nevyhnutnú pre
                        plnenie  a riadne plnenie záväzkov poskytovateľa. Absencia alebo nedostatok súčinnosti
                        užívateľa vylučuje vznik zodpovednosti poskytovateľa za omeškanie a za vzniknuté škody.</p>
                    <p><strong>6.6.</strong></p>
                    <p>Užívateľ berie na vedomie, že služba nie je určená na spracúvanie dát, ktoré svojou povahou
                        spadajú pod špecifickú právnu úpravu (napr. podliehajú zákonom stanovenej povinnosti
                        mlčanlivosti, sú chránené ako bankové tajomstvo, daňové tajomstvo, utajované skutočnosti a pod.)
                        a že dáta poskytuje na vlastné nebezpečenstvo a zodpovednosť; poskytovateľ nenesie žiadnu
                        zodpovednosť za dáta užívateľa.</p>
                    <p><strong>6.7.</strong></p>
                    <p>Užívateľ vyhlasuje, že je s dátami oprávnený nakladať, že disponuje všetkými súhlasmi na
                        nakladanie s dátami v rozsahu a forme vyžadovanej príslušnými právnymi predpismi a že
                        spracovaním dát nedochádza k ohrozeniu alebo porušeniu práv alebo oprávnených záujmov užívateľa
                        ani práv či oprávnených záujmov tretích osôb. Užívateľ ďalej vyhlasuje, že ním zadané
                        registračné údaje sú pravdivé, správne a úplné a že k registrácii užívateľa a k uzavretiu zmluvy
                        došlo užívateľom alebo konaním osoby oprávnenej konať za užívateľa. Vyhlásenia podľa tohto
                        odseku VOP sa považujú za zopakované pri každom využití služieb.</p>
                    <p><strong>6.8.</strong></p>
                    <p>Pokiaľ sa ktorékoľvek vyhlásenie užívateľa podľa týchto VOP ukáže ako nepravdivé alebo sa takým
                        stane a v tejto súvislosti budú voči poskytovateľovi uplatnené akékoľvek nároky tretích osôb
                        alebo uložené sankcie zo strany orgánov verejnej moci, užívateľ sa zaväzuje poskytovateľa v
                        plnej miere odškodniť. Povinnosť odškodnenia podľa predchádzajúcej vety sa týka najmä, ale
                        nielen akýchkoľvek nákladov poskytovateľa vzniknutých v dôsledku uplatnenia takých nárokov alebo
                        uloženia takých sankcií alebo v súvislosti s nimi. Poskytnutie akéhokoľvek nepravdivého
                        vyhlásenia užívateľom zároveň zakladá právo poskytovateľa na odstúpenie od zmluvy podľa bodu
                        11.1 týchto VOP.</p>
                    <h4><br></h4>
                    <h4><em>Článok 7</em></h4>
                    <h4><strong>Práva a povinnosti poskytovateľa</strong></h4>
                    <p></p>
                    <p><strong>7.1.</strong></p>
                    <p>Poskytovateľ poskytuje služby s odbornou starostlivosťou. Poskytovateľ je povinný priebežne a v
                        dostatočnom časovom predstihu aktualizovať systém app.nepritomnost.sk v súlade s platnou
                        legislatívou.</p>
                    <p><strong>7.2.</strong></p>
                    <p>Poskytovateľ je povinný zabezpečiť pre užívateľa po splnení podmienok podľa článku 4 týchto VOP
                        prístup na portál Nepritomnost prostredníctvom užívateľského mena a hesla, ktoré si užívateľ sám
                        alebo prostredníctvom tretej osoby zadal pri svojej registrácii na portáli app.nepritomnost.sk.
                        Ak poskytovateľ eviduje voči užívateľovi alebo v súvislosti s užívateľom pohľadávky po lehote
                        splatnosti (napr. odplatu), je oprávnený neumožniť užívateľovi objednanie ďalších služieb až do
                        úhrady všetkých súvisiacich pohľadávok poskytovateľa voči užívateľovi v celom rozsahu. Akékoľvek
                        prípadné platby užívateľa je poskytovateľ oprávnený započítať na svoje staršie splatné
                        pohľadávky, ktoré eviduje voči užívateľovi alebo v súvislosti s užívateľom.</p>
                    <p><strong>7.3.</strong></p>
                    <p>Poskytovateľ je oprávnený za účelom overenia registračných údajov užívateľa podľa bodu 4.1 týchto
                        VOP požadovať od užívateľa predloženie všetkých relevantných informácií a dokumentov
                        osvedčujúcich</p>
                    <p><em>7.3.1.</em></p>
                    <p>totožnosť užívateľa;</p>
                    <p><em>7.3.2.&nbsp;</em></p>
                    <p>že tretia osoba disponuje všetkými nevyhnutnými povoleniami a súhlasmi užívateľa spojenými s
                        oprávnením využívať v mene užívateľa službu; a</p>
                    <p><em>7.3.3.&nbsp;</em></p>
                    <p>spôsobilosť užívateľa riadne a včas plniť záväzky zo zmluvy.</p>
                    <p><strong>7.4.</strong></p>
                    <p>Poskytovateľ umožní užívateľovi prístup k systému app.nepritomnost.sk s možnosťou prerušenia
                        prístupu v súlade s týmito VOP. Poskytovateľ je povinný najneskôr šesť mesiacov pred uplynutím
                        doby, uplynutie ktorej má Poskytovateľ právo považovať za ukončenie využívania služby podľa bodu
                        2.15 týchto VOP, na toto upozorniť užívateľa zaslaním emailu na emailovú adresu užívateľa, pod
                        ktorou je užívateľ na portáli Nepritomnost registrovaný. Jeden mesiac pred uplynutím doby podľa
                        predchádzajúcej vety poskytovateľ upozorní užívateľa na následok trvalého vymazania a
                        zneprístupnenia dát užívateľa na portáli Nepritomnost emailom na emailovú adresu užívateľa, pod
                        ktorou je užívateľ na portáli zaregistrovaný. Ak sa užívateľ ani po doručení upozornenia podľa
                        predchádzajúcej vety neprihlási do svojho profilu na portáli Nepritomnost a podľa názoru
                        poskytovateľa nedá ani iným relevantným spôsobom poskytovateľovi na vedomie jeho záujem
                        pokračovať vo využívaní služieb, zmluva zanikne uplynutím doby podľa bodu 2.14 týchto VOP a
                        poskytovateľ dáta užívateľa zneprístupní a trvale vymaže tak, aby nebolo možné ich opätovné
                        obnovenie (profil užívateľa vrátane databáz založených užívateľom alebo treťou osobou a ich
                        záloh, a to aj v prípade, že sú tieto databázy sprístupnené aj iným užívateľom). Do okamihu
                        vymazania dát podľa predchádzajúcej vety má užívateľ kedykoľvek možnosť dohodnúť sa s
                        poskytovateľom na podmienkach, za ktorých poskytovateľ umožní užívateľovi nainštalovať službu
                        lokálne na užívateľovom počítači s oprávnením prístupu užívateľa k dátam užívateľa bez časového
                        obmedzenia. Tým nie je dotknutá povinnosť poskytovateľa vymazať dáta užívateľa po ukončení
                        využívania služby užívateľom alebo po ukončení zmluvy.</p>
                    <p><strong>7.5.</strong></p>
                    <p>Poskytovateľ je oprávnený uskutočniť na serveroch a ostatných zariadeniach, prostredníctvom
                        ktorých sú služby poskytované, plánovanú odstávku v rozsahu maximálne 300 minút mesačne.
                        Odstávka bude slúžiť na uskutočnenie potrebných úprav, updatov a upgradov softvéru alebo údržby
                        a výmeny hardvéru. Počas uvedenej odstávky je poskytovateľ povinný na túto skutočnosť upozorniť
                        užívateľov oznámením na svojom portáli a v prípade odstávky v trvaní dlhšom ako 300 minút
                        mesačne je poskytovateľ povinný informovať užívateľa aj emailom na emailovú adresu užívateľa,
                        pod ktorou je užívateľ na portáli zaregistrovaný.</p>
                    <p><strong>7.6.</strong></p>
                    <p>Poskytovateľ je ďalej oprávnený dočasne prerušiť alebo obmedziť poskytovanie služby, a to v
                        prípade, ak užívateľ alebo tretia osoba:</p>
                    <p><em>7.6.1.</em></p>
                    <p>zneužíva službu alebo umožňuje jej zneužívanie, a to až do odstránenia zneužívania alebo
                        vykonania technických opatrení zamedzujúcich toto zneužívanie. Zneužívaním služby je napríklad:
                    </p>
                    <ul>
                        <li>(a) vykonávanie akejkoľvek nezákonnej alebo inej nevhodnej aktivity, ktorá je v rozpore s
                            platnými právnymi predpismi Slovenskej republiky prostredníctvom poskytovanej služby;</li>
                        <li>(b) šírenie a umožnenie šírenia nezákonnej alebo nevhodnej komunikácie;</li>
                        <li>(c) šírenie a umožnenie šírenia škodlivých kódov;</li>
                        <li>(d) šírenie a umožnenie šírenia nevyžiadaných a obťažujúcich správ;</li>
                        <li>(e) porušovanie a umožnenie porušovania autorských alebo vlastníckych práv;</li>
                        <li>(f) narušenie bezpečnosti sietí, informačných systémov alebo služieb poskytovateľa;</li>
                        <li>(g) neoprávnený prístup alebo pokus o získanie neoprávneného prístupu k údajom v sieťach a
                            informačných systémoch poskytovateľa alebo k údajom iných užívateľov;</li>
                        <li>(h) preťaženie sietí a informačných systémov poskytovateľa;</li>
                        <li>(i) keď sa po uzavretí zmluvy preukáže, že užívateľ je dlžníkom poskytovateľa.</li>
                    </ul>
                    <p><strong>7.7.</strong></p>
                    <p>Poskytovateľ poskytuje a užívateľ prijíma služby „tak ako sú“. Aplikácia nie je určená pre
                        spotrebiteľov alebo pre subjekty podliehajúce osobitnej regulácii. Užívateľ rovnako berie na
                        vedomie, že udelenie oprávnenia využívať službu nepredstavuje poskytovanie služieb daňových
                        poradcov alebo účtovníkov a služby nenahrádzajú služby daňových poradcov ani účtovníkov.</p>
                    <p><strong>7.8.</strong></p>
                    <p>Poskytovateľ má ďalej právo:</p>
                    <p><em>7.8.1.&nbsp;</em></p>
                    <p>na zaplatenie odplaty za poskytovanie služieb v súlade s týmito VOP;</p>
                    <p><em>7.8.2.&nbsp;</em></p>
                    <p>na náhradu škody spôsobenú užívateľom alebo treťou osobou, ktorá vznikla z dôvodu zneužitia
                        služieb podľa bodu 7.6.1 týchto VOP;</p>
                    <p><em>7.8.3.</em></p>
                    <p>&nbsp;dočasne prerušiť alebo obmedziť poskytovanie služby užívateľovi podľa týchto VOP;</p>
                    <p><em>7.8.4.&nbsp;</em></p>
                    <p>na poskytnutie súčinnosti zo strany užívateľa nevyhnutnej na riadne plnenie záväzkov
                        poskytovateľa podľa bodu 6.5 týchto VOP;</p>
                    <p><em>7.8.5.</em>&nbsp;</p>
                    <p>ukončiť zmluvu v súlade s týmito VOP.</p>
                    <p><strong>7.9.</strong></p>
                    <p>Poskytovateľ nenesie žiadnu zodpovednosť za obsah dát, ktoré poskytovateľovi v rámci využívania
                        služieb užívateľ poskytol.</p>
                    <p><strong>7.10.</strong></p>
                    <p>Poskytovateľ nie je povinný vydať údaje z databázy užívateľovi, a to až do momentu úhrady jeho
                        splatných záväzkov. Tým nie je dotknuté právo poskytovateľa trvalo vymazať a zneprístupniť údaje
                        užívateľa po ukončení využívania služby podľa bodu 7.4 týchto VOP ani právo poskytovateľa
                        jednostranne vypovedať zmluvu v súlade s bodom 11.3 týchto VOP.</p>
                    <p><strong>7.11.</strong></p>
                    <p>Poskytovateľ má právo uvádzať užívateľa, pokiaľ je ním právnická osoba v referenčných listinách
                        poskytovateľa s uvedením jeho názvu. Použitie iných údajov užívateľa poskytovateľom podľa
                        predchádzajúcej vety (napr. logo), ako aj užívateľa fyzickej osoby je možné len s
                        predchádzajúcim súhlasom užívateľa.</p>
                    <p><strong>7.12.</strong></p>
                    <p>Po zániku zmluvy podľa článku 11 je Poskytovateľ povinný vymazať všetky dáta užívateľa tak, aby
                        nebolo možné ich opätovné obnovenie (profil užívateľa vrátane databáz založených užívateľom
                        alebo treťou osobou a ich záloh, a to aj v prípade, že sú tieto databázy sprístupnené aj iným
                        užívateľom). Do okamihu vymazania dát podľa predchádzajúcej vety má užívateľ kedykoľvek možnosť
                        dohodnúť sa s poskytovateľom na podmienkach, za ktorých poskytovateľ umožní užívateľovi
                        nainštalovať službu lokálne na užívateľovom počítači s oprávnením prístupu užívateľa k dátam
                        užívateľa bez časového obmedzenia. Poskytovateľ však nie je povinný vymazať tie dáta užívateľa,
                        ktorých ďalšie uchovanie alebo spracúvanie vyžadujú osobitné právne predpisy alebo pokiaľ
                        poskytovateľ ich uchovaním sleduje účel preukazovania, uplatňovania alebo obhajovania právnych
                        nárokov voči tretím osobám alebo uplatnených tretími stranami.<br></p>
                    <p><em></em></p>

                    <br>
                    <h4>4. ČASŤ</h4>
                    <h4>OCHRANA OSOBNÝCH ÚDAJOV, DUŠEVNÉ VLASTNÍCTVO</h4>
                    <h4><br></h4>
                    <h4><em>Článok 8</em></h4>
                    <h4><strong>Ochrana osobných údajov</strong></h4>
                    <p><strong>8.1.</strong></p>
                    <p>O spracovaní osobných údajov užívateľa poskytnutých poskytovateľovi v procese registrácie ako aj
                        počas využívania služieb systému app.nepritomnost.sk je užívateľ informovaný v rozsahu podľa čl.
                        13 GDPR, a to formou emailu zaslaného užívateľovi po dokončení jeho registrácie na emailovú
                        adresu užívateľa, pod ktorou je užívateľ na portáli app.nepritomnost.sk registrovaný.
                    </p>
                    <h4><br></h4>
                    <h4><em>Článok 9</em></h4>
                    <h4><strong>Duševné vlastníctvo</strong></h4>
                    <p><strong>9.1.</strong></p>
                    <p>Systém Nepritomnost je autorské dielo v zmysle zákona č. 185/2015 Z. z. Autorský zákon v platnom
                        znení. Vizuál portálu Nepritomnost je duševným vlastníctvom poskytovateľa.</p>
                    <p><em></em></p>
                    <br>
                    <h4>5. ČASŤ</h4>
                    <h4>TRVANIE A ZÁNIK ZMLUVY</h4>
                    <h4><br></h4>
                    <h4><em>Článok 10</em></h4>
                    <h4><strong>Vznik zmluvy</strong></h4>
                    <p><strong>10.1.</strong></p>
                    <p>Zmluva sa považuje za riadne uzavretú okamihom vyjadrenia súhlasu užívateľa s týmito VOP, na
                        základe registrácie na app.nepritomnost.sk. Za vyjadrenie súhlasu s týmito VOP zo strany
                        poskytovateľa sa považuje ich zverejnenie na portáli Nepritomnost v sekcii Všeobecné obchodné
                        podmienky. Za vyjadrenie súhlasu s týmito Všeobecnými obchodnými podmienkami zo strany užívateľa
                        (vrátane tretej osoby v mene užívateľa) sa považuje označenie voľby „Súhlasím so Všeobecnými
                        obchodnými podmienkami“ na portáli app.nepritomnost.sk za vyhlásenie v rozsahu „Potvrdzujem, že
                        som čítal Všeobecné obchodné podmienky, že som im porozumel a vyjadrujem s nimi svoj
                        bezpodmienečný a dobrovoľný súhlas.“. Poskytovateľ je oprávnený tieto VOP meniť a upravovať za
                        podmienok podľa článku týchto VOP.</p>
                    <p><strong>10.2.</strong></p>
                    <p>Zmluva sa uzatvára na dobu neurčitú.</p>
                    <br>
                    <h4><em>Článok 11</em></h4>
                    <h4><strong>Zánik zmluvy</strong></h4>
                    <p></p>
                    <p><strong>11.1.</strong></p>
                    <p>Zmluva zaniká:</p>
                    <p><strong>11.1.1.</strong></p>
                    <p>Poskytovateľ je oprávnený zmluvu vypovedať v lehote, ktorú stanovujú tieto VOP, inak v 30 dňovej
                        výpovednej lehote, ak:</p>
                    <p><em>11.1.2.&nbsp;</em></p>
                    <p>užívateľ po zablokovaní prístupu podľa bodu 5.1 týchto VOP do 30 dní neuhradí splatnú faktúru za
                        poskytnuté služby;</p>
                    <p><em>11.1.3.&nbsp;</em></p>
                    <p>užívateľ nedodrží ktorúkoľvek z povinností podľa článku 6 týchto VOP.</p>
                    <p>Výpoveď sa doručuje emailom na emailovú adresu užívateľa, pod ktorou je užívateľ na portáli
                        zaregistrovaný. Výpovedná doba začína plynúť v najbližší pracovný deň nasledujúci po dni
                        odoslania výpovede poskytovateľovi. Uplynutím výpovednej doby zmluva zaniká.</p>
                    <p><strong>11.2.</strong></p>
                    <p>Užívateľ je oprávnený sám, prostredníctvom svojho štatutárneho orgánu alebo inej oprávnenej
                        osoby, ktorá je oprávnená za užívateľa konať, vypovedať emailom zaslaným na emailovú adresu
                        poskytovateľa&nbsp;<a href="mailto:info@nepritomnost.sk">info@nepritomnost.sk</a>. Výpovedná
                        doba pre takýto prípad je 30 dní a začína plynúť v najbližší pracovný deň nasledujúci po dni
                        odoslania výpovede poskytovateľovi podľa predchádzajúcej vety.</p>
                    <p><strong>11.5.</strong></p>
                    <p>Po ukončení platnosti nie je užívateľ alebo tretia osoba oprávnená služby využívať.</p>
                    <p><strong>11.6.</strong></p>
                    <p>Po zániku je poskytovateľ povinný postupovať v zmysle bodu 7.12.<br></p>
                    <p><em></em></p>
                    <br>
                    <h4>6. ČASŤ</h4>
                    <h4>ZODPOVEDNOSŤ ZA ŠKODU</h4>
                    <h4><br></h4>
                    <h4><em>Článok 12</em></h4>
                    <h4><strong>Zodpovednosť za škodu</strong><br></h4>
                    <p><strong>12.1</strong>.</p>
                    <p>Poskytovateľ nenesie žiadnu zodpovednosť za vznik škody spôsobenej nevhodným alebo nezákonným
                        obsahom dát poskytnutých do systému Nepritomnost používateľom alebo treťou osobou.</p>
                    <p><strong>12.2.</strong></p>
                    <p>Poskytovateľ nezodpovedá za chyby ani škody, či straty dát</p>
                    <p><em>12.2.1.&nbsp;</em></p>
                    <p>spôsobené pri využívaní služieb, alebo jej výstupmi, ak boli spôsobené užívateľom, tretími
                        osobami alebo prekážkami vzniknutými nezávisle od vôle poskytovateľa,</p>
                    <p><em>12.2.2.&nbsp;</em></p>
                    <p>spôsobené využívaním služieb v rozpore s týmito VOP, neodborným zásahom do systémového
                        programového vybavenia a prostredia, spôsobené nedostatočným zabezpečením lokálnej siete
                        užívateľa alebo jeho počítačov, príp. útokom hackerov alebo iným obdobným vonkajším zásahom,
                        alebo</p>
                    <p><em>12.2.3.</em>&nbsp;</p>
                    <p>vzniknuté v dôsledku poškodenia spôsobeného nesprávnou funkciou programov iných výrobcov
                        inštalovaných v zariadení užívateľa.</p>
                    <p><strong>12.3.</strong></p>
                    <p>Poskytovateľ nenesie zodpovednosť za zobrazenie informácií na zariadení užívateľa alebo za
                        dostupnosť webovej stránky v akomkoľvek čase a mieste, ktoré poskytovateľ nevie ovplyvniť, sú na
                        strane užívateľa alebo tretej strany (napr. nedostatočné hardvérové vybavenie pristupujúceho
                        zariadenia užívateľa, internetové pripojenie používateľa, výpadok internetového alebo iného
                        pripojenia a pod.).</p>
                    <p><strong>12.4.</strong></p>
                    <p>V prípade, že nesplnením ktoréhokoľvek zo záväzkov alebo povinností užívateľa stanovených v
                        týchto VOP vznikne poskytovateľovi akákoľvek škoda, je túto škodu užívateľ povinný
                        poskytovateľovi v celej výške nahradiť.</p>
                    <p><strong>12.5.</strong></p>
                    <p>Poskytovateľ zodpovedá užívateľovi za škodu, ktorú mu poskytovateľ preukázateľne spôsobil
                        zavineným porušením povinností vyplývajúcich z týchto VOP, nezodpovedá však za ušlý zisk
                        užívateľa spôsobený porušením svojich povinností určených v týchto VOP. Zodpovednosť
                        poskytovateľa za škodu spôsobenú užívateľovi v dôsledku riadneho nesplnenia si povinností
                        určených týmito VOP je obmedzená na povinnosť nefakturovať alebo vrátiť pomernú časť užívateľom
                        uhradenej odplaty za poskytovanie služieb za obdobie, v ktorom poskytovateľ porušil svoje
                        povinnosti vyplývajúce z týchto VOP. Užívateľ je povinný škodu podľa tohto bodu u Poskytovateľa
                        si písomne uplatniť najneskôr do troch mesiacov odo dňa, kedy sa o porušení dozvedel. Užívateľ
                        je povinný škodu a príčinnú súvislosť medzi jej vznikom a porušením povinnosti poskytovateľa
                        podľa tohto bodu VOP náležite preukázať, inak mu nárok na náhradu škody nevznikne. Celková výška
                        náhrady, ktorú poskytovateľ užívateľovi v súlade s týmto bodom nahradí, nesmie presiahnuť výšku
                        odplaty za posledných 12 kalendárnych mesiacov.</p>
                    <p><strong>12.6.</strong></p>
                    <p>Poskytovateľ nezodpovedá za neposkytnutie služieb alebo nemožnosť poskytovania služieb, ktoré
                        nastalo v dôsledku živelnej pohromy, neoprávneného zásahu do siete alebo informačného systému,
                        prostredníctvom ktorého sa služba poskytuje, alebo z rozhodnutia štátneho orgánu.</p>
                    <p><strong>12.7.</strong></p>
                    <p>Poskytovateľ nezodpovedá za nemožnosť poskytovania služieb ani počas výpadku pripojenia do siete
                        internet, počas vojny, vojnového stavu, výnimočného stavu alebo núdzového stavu, alebo v prípade
                        iných objektívnych, nepredpokladateľných a neodvrátiteľných skutočností (vis maior).<br></p>
                    <p><em></em></p>
                    <br>
                    <h4>7. ČASŤ</h4>
                    <h4>ZMENA VOP, ZÁVEREČNÉ USTANOVENIA</h4>
                    <h4><br></h4>
                    <h4><em>Článok 13</em></h4>
                    <h4><strong>Zmena VOP</strong></h4>
                    <p><strong>13.1.</strong></p>
                    <p>V záujme zlepšenia kvality služieb alebo rozšírenia ponuky služieb poskytovaných poskytovateľom,
                        alebo v dôsledku zmeny právnych predpisov, alebo zmeny technických možností poskytovania
                        služieb, alebo implementácie bezpečnostných opatrení a v nadväznosti na zmenu obchodnej politiky
                        poskytovateľa alebo potreby takejto zmeny alebo v nadväznosti na zmeny na bankovom, peňažnom
                        alebo kapitálovom trhu, ktorý je objektívne spôsobilý ovplyvniť poskytovanie služieb alebo
                        podmienky ich poskytovania, je poskytovateľ oprávnený tieto VOP jednostranne meniť alebo
                        dopĺňať, alebo ich úplne nahradiť. Zmeny VOP podľa tohto bodu poskytovateľ spolu s uvedením ich
                        účinnosti uverejňuje na svojom webovom portáli. Poskytovateľ informuje užívateľov o zmene VOP
                        podľa tohto bodu ich zverejnením na webovom portáli poskytovateľa a zaslaním emailu na emailovú
                        adresu užívateľa, pod ktorou je užívateľ na portáli Nepritomnost registrovaný, a to najneskôr 30
                        dní pred nadobudnutím ich účinnosti.</p>
                    <p><strong>13.2.</strong></p>
                    <p>Tieto VOP sú zverejnené na portáli Nepritomnost, sekcia VOP a nadobudli platnosť a účinnosť 31.
                        deň odo dňa ich zverejnenia podľa bodu 13.1 týchto VOP a nahrádzajú všetky obchodné podmienky
                        poskytovateľa platné a účinné pred platnosťou a účinnosťou týchto VOP.</p>
                    <h4><br></h4>
                    <h4><em>Článok 14</em></h4>
                    <h4><strong>Záverečné ustanovenia</strong></h4>
                    <p><strong>14.1.</strong></p>
                    <p>Zmluvné strany si zvolili za právo, ktorým sa majú spravovať všetky ich vzájomné vzťahy, právo
                        Slovenskej republiky. Obe strany sa dohodli, že všetky spory, ktoré vzniknú, vrátane sporov o
                        jej platnosť, následky jej neplatnosti, jej výklad alebo zrušenie, budú riešené príslušným súdom
                        Slovenskej republiky.</p>
                    <p><strong>14.2.</strong></p>
                    <p>Písomnosti adresované niektorej zo strán sa predovšetkým doručujú na emailové adresy na strane
                        poskytovateľa – info@nepritomnost.sk a na strane užívateľa – emailová adresa, pod ktorou je
                        užívateľ na portáli Nepritomnost registrovaný, sa považujú za doručené do troch hodín od
                        odoslania emailu bez toho, aby bol odosielateľ upozornený emailovou službou na nemožnosť
                        doručenia emailu, a to aj v prípade, že sa adresát o emaile nedozvedel, ak nie je týmito VOP
                        uvedené inak.</p>
                    <p><strong>14.3.</strong></p>
                    <p>V prípade, že niektoré z ustanovení VOP je neplatné, nemá to vplyv na platnosť ostatných
                        ustanovení VOP. Neplatné ustanovenia sa nahradia ustanoveniami všeobecne záväzných právnych
                        predpisov Slovenskej republiky, ktoré sú svojim obsahom a účelom najbližšie obsahu VOP alebo
                        neplatného ustanovenia VOP.</p>
                    <p><strong>14.4.</strong></p>
                    <p>Užívateľ týmto potvrdzuje, že si VOP pozorne prečítal, všetky ich ustanovenia sú mu jasné a
                        zrozumiteľné, týmto VOP v celom ich rozsahu porozumel, súhlasí s nimi, na dôkaz čoho vyjadril
                        svoj súhlas podľa bodu 10.1 týchto VOP.</p>


                </div>
            </div>
    </section>
</div>